<!DOCTYPE html>
<html>
<head>

</head>
<body>

  <div style="margin-left: 20%">
    <ol>
      <% @submissions.each do |sub| %>
        <li>
          <% if sub.link == '' %>
              <%= link_to sub.description + " (source)", sub.link %>
          <% else %>
              <%= link_to sub.description, home_newcomment_path(:submission_id => sub.id) %>
          <% end %>
        </li>
          <p> XX Points | <%= "User " + sub.user_id.to_s %> | <%= link_to sub.comments.length.to_s + " Comments",
                                    home_newcomment_path(:submission_id => sub.id) %></p>
      <% end %>
    </ol>
  </div>

</body>
</html>