<!DOCTYPE html>
<html>
<head>

</head>
<body>

  <h1>WELCOME TO THE HOMEPAGE</h1>
  <h2> Aquí iría la lista de submissions </h2>

  <li> Para seguir el patrón MVC deberíais usar ruby en el HomeController para sacar las submissions o lo que querais</li>
  <li> La barra navegacional de momento solo hay los apartados de 'admin'. Se debería hacer una view especifica
    para redireccionar a views similares a hackernews </li>

</body>
</html>