<!DOCTYPE html>
<html>
<head>

</head>
<body>

  <h1>WELCOME TO THE HOMEPAGE</h1>
  <h2> Lista de submissions </h2>
  <h2> Falta hacer el texto de numero de comentarios como link y mandarlo a una view donde se cree
       un comentario para la submission seleccionada. </h2>

  <ol>
    <% @submissions.each do |sub| %>
      <li>
        <% if sub.tipo == 1 %>
            <%= sub.link %>
        <% elsif sub.tipo == 2 %>
            <%= sub.description %>
        <% end %>
      </li>
        <p><%= sub.comments.length %> Comments</p>

    <% end %>
  </ol>

</body>
</html>