<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <div style="background-color: whitesmoke">
    <ul>
      <% @comments.each do |comment| %>
          <table style="border: 0; margin-bottom: 1%">
            <tbody>
              <tr>
                <% if current_user and (current_user.id != comment.user_id) %>
                    <%= link_to "^", like_comment_path(comment), method: :put %>
                <% else %>
                    <%= "*" %>
                <% end %>
                <%= "#{comment.votes_for.size} points | " %>
                <%= "by " + current_user.name  %>
              </tr>
            </tbody>
          </table>
      <% end %>
    </ul>
  </div>
</body>
</html>