<p>
      <%= link_to "^", "vote?for=#{@submission.id}&dir=up&goto=#{request.original_fullpath.split("/").second}"  %>
      <% if @submission.link.blank? %>
      <%= link_to @submission.title, @submission %>
      <% else %>
      <%= link_to @submission.title, extlink(@submission.link) %>
      (<%= link_to formatted_url(@submission.link) ,"from?site_name=#{formatted_url(@submission.link)}"%>)
      <% end %>
    
 </p>

 
 <form>
    <textarea rows="5" cols="60"></textarea>
    </br>
    <input type="submit" value="add comment" />
 </form>